{
  "root": true,
  "ignorePatterns": ["dist", "node_modules"],
  "extends": ["plugin:react-hooks/recommended"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": ["./tsconfig.eslint.json", "./companies/**/*/tsconfig.json", "./shared/**/*/tsconfig.json"],
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint", "react-hooks"],
  "rules": {
    "@typescript-eslint/no-floating-promises": 1,
    "@typescript-eslint/no-shadow": "error",
    "no-cond-assign": "error",
    "react-hooks/rules-of-hooks": "error"
  }
}
