<div>
  <script type="module">
    if ('fusion' in window) {
      import("/wp-content/plugins/acme-calculators/dist/<%= thisCalculator %>/entry.js")
    } else {
      import("./entry.js")
    }
  </script>
  <div id="root"></div>
</div>